.chat {
      width: 100%;
      min-height: 100%;
      background-color: #f8f9fa;
    }
    
    .messages {
      height: 100%;
      display: grid;
      grid-template-rows: 80px 1fr 80px;
    }
    
    .messageForm {
      max-width: 100%;
      height: 80px;
      background-color: #f8f9fa;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
    }
    
    .inputMessage {
      height: 30px;
      max-width: 100%;
      width: 100%;
      padding: 25px 16px;
      border-radius: 30px;
      border: none;
      margin-left: 16px;
      background-color: #fff;
      color: #333;
      padding-left: 40px;
      transition: background-color 0.2s ease-in-out;
    }
    
    .inputMessage:hover {
      background-color: #ebebeb;
    }
    
    .inputButton {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin: 20px;
      background-color: #f8f9fa;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .inputButton:hover svg {
      fill: #666;
    }
    
    .inputButton svg {
      fill: #999;
      width: 20px;
      height: 20px;
    }
    
    .userInfo {
      display: flex;
      align-items: center;
    }
    
    .userIcon {
      height: 50px;
      width: 50px;
      margin: 0 16px;
    }
    
    .chatWindow {
      background-color: #f8f9fa;
      overflow-y: auto;
    }
    
    .messageBlock {
      margin: 10px;
      padding: 10px 20px;
      min-width: 300px;
      width: 300px;
      border-radius: 16px;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    
    .me {
      margin-left: auto;
      background-color: #dcf8c6;
    }
    
    .from {
      background-color: #fff;
    }
    
    .placeholder {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8f9fa;
    }
    